---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <section class=" w-full h-[70vh] flex justify-center items-center md:max-w-3xl lg:max-w-5xl mx-auto py-10 px-6 ">
        <h3 class="font-bold text-[4rem]">
            En construcción
        </h3>
    
    </section>
</Layout>