---
import LogoImage from '@/assets/logo-v2.png';
import Image from 'astro/components/Image.astro';
---
<footer class="bg-[#1a1a1a] text-white py-10 text-center">
    <div class="container mx-auto flex flex-col items-center space-y-4">
      <Image src={LogoImage} alt="Hot Coffee Logo" class="w-24 h-auto" />
        <p class="max-w-lg text-gray-400 text-sm">
            
      </p>
  
      <!-- Dirección y contacto -->
      <div class="flex flex-wrap justify-center gap-6 text-sm my-6">
        <div>
          <p>Puno, Peru</p>
          <p>Jirón Ilo H 2 20001</p>
        </div>
        <div>
          <p>Phone: <a href="tel:957012853" class="text-gray-300 hover:text-white">957012853 </a></p>
        </div>
      </div>
  
      <!-- Iconos sociales -->
      <div class="flex space-x-4 text-gray-500 mt-8 mb-30">
        <a href="#" class="hover:text-white"><i class="fab fa-twitter text-2xl"></i></a>
        <a href="#" class="hover:text-white"><i class="fab fa-facebook-f text-2xl"></i></a>
        <a href="#" class="hover:text-white"><i class="fab fa-google-plus-g text-2xl"></i></a>
        <a href="#" class="hover:text-white"><i class="fab fa-linkedin-in text-2xl"></i></a>
        <a href="#" class="hover:text-white"><i class="fab fa-skype text-2xl"></i></a>
      </div>
      
      <!-- Derechos y enlaces -->
      <p class="text-sm text-gray-500">
        Desarrollado por <a href="https://www.kleincode.studio/" class="text-red-400 font-black">KleinCode</a> &copy; 2025
      </p>
    </div>
  </footer>
  