---
import Button from "@/components/Button.astro";
---

<section class="bg-white py-14 md:py-20 xl:py-36">
    <div class="max-w-5xl mx-auto flex flex-col items-center">
        <h2 class="font-droid-serif text-xl xl:text-3xl 2xl:text-4xl font-bold text-primary text-center tracking-[0.5rem] uppercase">
            Bienvenido a nuestra cafetería
        </h2>
        <p class="text-center mt-8 font-bold text-primary/50">Desde siempre, las cafeterías han sido mucho más que un lugar para disfrutar una buena taza de café. Son espacios donde las personas se reúnen, conversan, leen, escriben y encuentran inspiración. Aquí, cada sorbo es una pausa en el tiempo, un momento para disfrutar, solo o en buena compañía.</p>
        <div class="my-4"></div>
        <Button text="RESERVAR" path="https://api.whatsapp.com/send?phone=573053000000&text=Hola%20quiero%20reservar%20una%20mesa%20en%20el%20cafe.%20Gracias"/>
    </div>
</section>